requests
beautifulsoup4
pandas
tqdm
praw

transformers 
datasets 
peft 
accelerate 
bitsandbytes

python-dotenv

openai  

langgraph 
langchain 
langchain-core 
langchain_community 
langchain-text-splitters 
chromadb
sentence-transformers 
pydantic
langchain_groq 

streamlit